@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 5rem;
}
.leftSide {
  margin-top: clamp(5rem, 10vw, 20rem);
  margin-left: clamp(2rem, 5vw, 10rem);
}

.button {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: bold;
}

.logo {
  margin-left: 5rem;
  width: 15rem;
}

.wrapperContainer {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.image {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .image {
    max-width: 40rem;
  }
}

@media (max-width: 768px) {
  .image {
    max-width: 100%;
  }
}
