@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 5rem;
}
.leftSide {
  margin-top: 10rem;
  margin-left: 10rem;
}

.button {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: bold;
}

.logo {
  margin-left: 5rem;
  width: 15rem;
}

.wrapperContainer {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.image {
  width: 54rem;
  height: 55rem;
  max-height: 60rem;
  object-fit: cover;
  flex-shrink: 0;
}
